---
import Navigation from '../components/Navigation.astro';
import Main from '../components/main.astro'




interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		
		<meta name="generator" content={Astro.generator} />
		<script src="../assets/js/nav.js"></script>

		

		<title>{title}</title>
	</head>
	<body>
		<slot />
			<Navigation/>
			<Main/>
	</body>
</html>



<style is:global>

</style>
